**/*.tfstate*
**/*.out
**/.terraform/*
**/.terraform.*
**/.DS_Store
**/crash.log
**/*.pem
**/terraform_*.tfvars*
**/*.auto.tfvars
**/*.pptx
**/*.json
marketplace-images/**/*.txt
platform-images/**/*.txt
userdata
mounting-block-volumes.txt
**/examples/clusters/*
**/creds
**/clean-setup
**/object-storage
.gitlab-ci.yml